.main {
	height: calc(100vh - 60px);
	padding: 10px;
}

.main-header {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(img/main.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
	padding-top: 2%;
}

.main-header h1 {
	font-size: 10vh;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 3%;
	animation: header-name 1s ease-in;
	margin: 0 auto 3% auto;
	min-width: 500px;
	width: 50%;
}

.main-header h2 {
	font-size: 3vh;
	font-weight: 300;
	color: #FFFFFF;
	max-width: 30%;
	animation: header-description 1s 1s ease-out;
	display: inline-block;
	backface-visibility: hidden;
	animation-fill-mode: both;
	min-width: 500px;
}

@keyframes header-name {
	0% {
		transform: translateX(-20%);
		opacity: 0;
	}
	75% {
		transform: translateX(2%);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes header-description {
	0% {
		transform: translateX(-10%);
		opacity: 0;
	}
	75% {
		transform: translateX(1%);
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.btn-main {
	display: inline-block;
	background: none;
	border: none;
	padding: 10px;
	border-radius: 10px;
	border: .8px solid grey;
	width: 100px;
	color: #FFFFFF;
	margin-top: 5%;
	text-decoration: none;
	transition: all 1s;
	animation: btn-appear 1s 1s;
	backface-visibility: hidden;
	animation-fill-mode: both;
}

.btn-main:hover {
	transform: scale(1.1);
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.btn-main:link {
	text-decoration: none;
}

@keyframes btn-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.btn-right {
	margin-left: 1%;
}

.btn-left {
	margin-right: 1%;
}

.btn-long {
	width: 150px;
	display: block;
	margin: 5% auto 2% auto;
	text-decoration: none;
}

.git-link {
	margin-top: 2%;
	width: 100%;
	height: 100%;
	animation: btn-appear 1s 1s;
	backface-visibility: hidden;
	animation-fill-mode: both;
}

.about-block {
	margin: 2% auto;
	width: 50%;
	min-width: 500px;
}

.about-block h2 {
	text-align: center;
	margin-bottom: 2%;
}

/* Dashboard */

.card {
	max-width: 200px;
	transition: all .2s;
}

.card-body {
	padding: 0.5rem;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, .25);
}

.card-title {
	margin-bottom: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-text {
	margin-bottom: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.btn-card {
	width: 100%;
}

/* BOOK SELECTION */
.book-search {
	text-align: center;
	background-image: url(img/createpic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vh - 56px);
}

.book-search-text {
	margin-top: 3%;
	margin-bottom: 3%;
	display: inline-block;
	letter-spacing: .1em;
	position: relative;
}

.book-search-text::after {
	position: absolute;
	content: '';
	display: inline-block;
	background: grey;
	width: 75%;
	height: 2px;
	transform: translateX(-50%);
	text-align: center;
}

.book-search-block input {
	width: 50%;
	min-width: 500px;
	height: 5vh;
	border: .5px solid #707070;
	box-shadow: 1px 2px 10px grey;
	padding-left: 2%;
	transition: all .2s;
}

.book-search-block input:hover {
	transform: translateY(-3px);
	box-shadow: 1px 4px 10px grey;
}

.book-search-block-results {
	margin: 10px auto;
	display: block;
	width: 35%;
	min-width: 450px;
}


.book-result {
	background-color: rgba(255, 255, 255, 0.75);
	margin: 8px 0;
	height: 12vh;
	min-height: 110px;
	box-shadow: 0 1px 5px #707070;
	transition: all .2s;
	text-align: left;
	position: relative;
	overflow: hidden;
}

.book-result:hover {
	transform: translateY(-1px);
	box-shadow: 0 0 4px #007BFF;
	border: 0;
	background-color: white;
	transition: background-color 500ms linear;
}

.book-result img {
	float: left;
	min-width: 100px;
	width: 15%;
	height: 100%;
	border-right: .5px solid #707070;
	padding: 2px;
}

.book-result-text {
	display: inline-block;
}

.book-result-text h4 {
	margin-left: 30px;
}

.book-result-text small {
	margin-left: 30px;
}

.book-result a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* CREATE dNOTE */
.note-create {
	text-align: center;
}

.book-display {
	width: 40%;
	min-width: 500px;
	height: 20vh;
	border: .5px solid #707070;
	border-radius: 10px;
	margin: 1% auto 2% auto;
	text-align: left;
	position: relative;
}

.book-display h4 {
	display: inline-block;
}

.book-display small {
	display: block;
}

.book-display img {
	float: left;
	width: 18%;
	min-width: 110px;
	height: 100%;
	min-height: 150px;
	padding: 1%;
}

.book-display-info {
	display: inline-block;
	margin-left: 2%;
	max-width: 70%;
}

.btn-book-display {
	position: absolute;
	right: 2%;
	bottom: 3%;
}

.note-create-text {
	margin-bottom: 1%;
	display: inline-block;
	letter-spacing: .1em;
	position: relative;
}

.note-create-text h3 {
	font-size: 1.5rem;
}

.note-create-text::after {
	position: absolute;
	content: '';
	display: inline-block;
	background: grey;
	width: 75%;
	height: 2px;
	transform: translateX(-50%);
	text-align: center;
}

.note-module {
	width: 60%;
	min-width: 500px;
	margin: 0 auto;
	height: 50vh;
	text-align: left;
}

.btn-savenote {
	float: right;
	margin: 1%;
}

.note-view {
	width: 60%;
	min-width: 540px;
	margin: 0 auto;
	border-radius: 10px;
}

#editor-container {
	font-size: 20px;
}
