{% extends 'layout.html' %}

{% block content %}
<div class="about-block">
  <h2>BookWorm</h2>
  <p>BookWorm is a small personal project to interact with python's Flask web framework</p>
  <p>All of the books (covers, titles, authors, etc.) are provided by OpenLibrary API</p>
  <p>Technologies used: Python (Flask), HTML, CSS, jQuery</p>
  <p>This is an ongoing project that I will keep improving during my free time. Things that need to be improved:</p>
  <ul>
    <li>Handling of errors when OpenLibrary doesn't provide certain book information</li>
    <li>Completely redesign the website front-end with SASS</li>
    <li>Consider storing ISBN together with OLID in database if for some reason there will be an unexpected change in their system</li>
    <li>Connect SMTP service to send out registration confirmation and news</li>
    <li>More on GitHub page.</li>
  </ul>
</div>

{% endblock %}
