{% extends 'layout.html' %}

{% block content %}
<div class="fluid-container book-search">
  <div class="book-search-text">
    <h3>Find your book.</h3>
  </div>
  <div class="book-search-block">
    <input type="text" id="book-search" placeholder="Title, author, isbn ...">
    <div class="book-search-block-results">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $('#book-search').on('keyup', function(e){
    console.log("type");
    var input = $(this).val();
    $.getJSON({
      url: 'http://openlibrary.org/search.json',
      beforeSend: function(xhr){
        if (xhr.overrideMimeType){
          xhr.overrideMimeType("application/json");
        }
      },
      dataType: 'json',
      data: {q: input},
      success: function(books) {
        console.log(books);
        $('.book-search-block-results').empty();
        for (var i = 0; i < 5; i++) {
          if (books["docs"][i] == null) { break; }
          var lastedition = books["docs"][i]["edition_key"].length - 1;
          $('.book-search-block-results').append(`
            <div class="book-result">
              <img src="http://covers.openlibrary.org/b/olid/${books["docs"][i]["edition_key"][lastedition]}-M.jpg" alt="Book Cover">
              <div class="book-result-text">
                <h4>${books["docs"][i]["title"]}</h4>
                <small>by ${books["docs"][i]["author_name"]}</small>
              </div>
              <a href="${$SCRIPT_ROOT + "create/" + books["docs"][i]["edition_key"][lastedition]}"></a>
            </div>`
          );
        }
      }
    });
  });
</script>
{% endblock %}
