{% extends 'layout.html' %}

{% block content %}
<section class="dashboard">
    <div class="dashboard-controls">
        <a href="{{ url_for('dashboard.book_search') }}" class="btn btn-new">Create New</a>
        <input type="text" name="Note search" placeholder="Search for your note" id="local-search">
    </div>
    <div class="dashboard-books">
      {% if cards[0] %}
        {% for card in cards %}
          <div class="card">
              <img src="{{ card['img_url'] }}">
              <h3 title="{{ card['title'] }}">{{ card['title'] }}</h3>
              <small title="by {{ card['author'] }}">by {{ card['author'] }}</small>
              <small>Last Edit: {{ card['last_update'] }}</small>
              <a class="btn btn-card" href="{{ url_for('dashboard.note_view', bid=card['bid']) }}">View</a>
          </div>
        {% endfor %}
      {% else %}
        <p>You don't have any notes.</p>
      {% endif %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}