{% extends 'layout.html' %}

{% block content %}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-3">
      <a href="{{ url_for('dashboard.book_choice') }}"><button type="button" class="btn btn-success">Create New</button></a>
    </div>
    <div class="col">
        <input class="form-control dashboard-searchbox" id="dashboard-search" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col d-flex flex-wrap justify-content-lg-start justify-content-md-start justify-content-sm-around justify-content-around book_content">
      {% if books %}
        {% for book in books %}
          <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="{{ book[3] }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ book[1] }}</h5>
              <p class="card-text">by {{ book[2] }}</p>
              <a href="{{ url_for('dashboard.note_view', olid=book[0]) }}"><button type="button" class="btn btn-primary btn-card">View</button></a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>You don't have any notes.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
