{% extends 'layout.html' %}

{% block content %}
<!-- Need error handling -->
<div class="fluid-container note-create">
  <div class="book-display">
    <img src="{{ book_info['cover']['medium'] }}" alt="Book Cover">
    <div class="book-display-info">
      <h4>{{ book_info['title'] }}</h4>
      <small>by {{ book_info['authors'][0]['name'] }}</small>
      <a href="{{ url_for('dashboard.note_delete', olid=olid) }}"><button type="button" class="btn btn-danger btn-book-display">Delete note</button></a>
    </div>
  </div>
  <div class="note-create-text">
    <h3>Edit your note.</h3>
  </div>
  <div class="note-module">
    <div id="editor-container">
    </div>

    <form method="post">
      {{ form.csrf_token() }}
      {{ form.text() }}
      {{ form.submit(class_="btn btn-success btn-savenote") }}
    </form>

  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var quill = new Quill('#editor-container', {
    modules: {
      toolbar: [
        ['bold', 'italic'],
        ['link', 'blockquote'],
        [{ list: 'ordered' }, { list: 'bullet' }]
      ]
    },
    placeholder: 'Compose an epic...',
    theme: 'snow'
  });
  quill.setContents({{ note|safe }});
  $('form').submit(function() {
    $('input[name=text]').val(JSON.stringify(quill.getContents()));
  });
</script>
{% endblock %}
