{% extends 'layout.html' %}

{% block content %}
<section class="auth">
    {% for message in get_flashed_messages() %}
      <div class="flash" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }}{{ form.email(class_="auth-field") }}
        {% if form.email.errors %}
          {% for e in form.email.errors %}
            <small>{{ e }}</small>
          {% endfor %}
        {% endif %}
        {{ form.password.label }}{{ form.password(class_="auth-field") }}
        {% if form.password.errors %}
          {% for e in form.password.errors %}
            <small>{{ e }}</small>
          {% endfor %}
        {% endif %}
        {{ form.submit(class_="btn btn-auth") }}
    </form>
</section>
{% endblock %}
